.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow:  0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    background-color: rgba(200,200,200,0.2);

}

.Order:hover{
    background-color: rgba(200,200,200,0.1);
}

.Order > p{
    text-transform: uppercase;
}

.Ingredient {
    background-color: rgba(0,0,0,0.1);
    padding: 1% 1%;
    margin: 0 5px;
    display: inline;
}